################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ParkingSlot/Views/Scripts
/.vs/ParkingSlot/v14
