<!--==========================
  Hero Section
============================-->
<section id="hero" class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/images/car-parking.png" alt="Hero Imgs" class="heroImg" />
            </div>
            <div class="col-md-6">
                <div class="hero-container">
                    <h1>Parking Made Easy</h1>
                    <h2>This App helps you find parking slot</h2>
                    <a href="../EmptySlots/EmptySlots" class="btn-get-started scrollto">Find a Slot</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- #hero -->
<!--==========================
  Get Started Section
============================-->
<section id="get-started" class="padd-section text-center wow fadeInUp">
    <div class="container">
        <div class="section-title text-center">
            <h2>Car Parking Slot Features</h2>
            <p class="separator">Best and easy to find.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="feature-block">
                    <img src="~/Content/images/001.svg" alt="img" class="img-fluid">
                    <h4>Live Status</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="feature-block">
                    <img src="~/Content/images/002.svg" alt="img" class="img-fluid">
                    <h4>Easy to Locate</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="feature-block">
                    <img src="~/Content/images/003.svg" alt="img" class="img-fluid">
                    <h4>User Friendly UI</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>

        </div>
    </div>

</section>

